<html>
  <head>
    <link rel="stylesheet" href="/static/styles.css">
    <title>HTML2PDF</title>
  </head>
  <body>
    <div>
      <h1>HTML2PDF Rendering Tool</h1>
      <a style="position:absolute;top:10px;right:10px;" href="/admin">Login</a>
      <p>Convert your favorite website from HTML to PDF, completely free and secure!</p>
      <form method="POST">
        <textarea style="width:600px;height:300px" name="content"><b>Try Me!</b>

            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg"></textarea><br>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
