{% extends "layout.html" %}
{% block content_controller %}
<div class="content backdrop">
{% endblock %}
{% block content %}
<center>
	<h1 class=fancy>Fake Company</h1>
	<span class=fancy>We are dedicated to empowering our customers to 10x their development lifecycle synergies.</span>
	<span class=fancy>Want to learn about our solutions?</span>
	<!-- TODO: this button is set to the wrong URL and for some reason only the 'admin' account can change it. Tom is the only one who knows the passcode and he's out until Wednesday. I'm not paid enough to deal with this so it's just going to be broken for now. It's not like we get traffic anyway 😠 -->
	<a class="fancy button" href="/contact-us">Contact Us</a>
</center>
{% endblock %}
